---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
  name: realtimeapp-ingress
spec:
  rules:
  - host: sample.web.lk
    http:
      paths:
      - path: /
        backend:
          serviceName: rollouts-demo
          servicePort: 80